venv/
__pycache__/
*.db
audio/
*.pyc
.DS_Store
# Local artifacts
backups/
*.bundle
/.logs/
/.scaffolds/
/.bak/
*.bak
*.log
server.log
.env
uploads/
vault/
screenshots/

# Scaffold files
scripts/scaffolds/inactive/
scripts/scaffolds/run_scaffolds_v4.sh
scripts/scaffolds/scaffold_*.sh



# Just completely ignore all scaffolds
scripts/scaffolds/
